.tabuleiro{
    width: 600px;
    height: 600px;;

}
body{
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
}

#container{
    position: relative;
    margin: 50px auto;
    background-color: rgba(149, 165, 166,1.0);
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgb(42, 42, 42);
}
.peca{
    width: 190px;
    height: 190px;
    position: absolute;
    background-color: rgba(52, 73, 94,1.0);
    border-radius: 25px;
    margin: 5px;
    font-size: 130px;
    padding-left: 55px;
    transition: left .5s, top .5s;
    color: rgba(189, 195, 199,1.0);
}

.peca:hover{
    border-color: rgba(39, 174, 96,1.0);
    border-width: 3px;
    border-style: dashed;
}
.rodape h2{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
}

